<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Careers</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="container">
    <form class="form-group">
        <h1>All About Home Care Application Form</h1>
        <br>
        <br>
        <h2>Personal Information</h2>
        <label for="fm">First Name:</label>
        <input id="fm" type="text" name="" placeholder="First Name" required>
        
        <label for="ln">Last Name:</label>
        <input id="ln" type="text" name="" placeholder="Last Name" required>
        
        <br>
        <p></p>
        <label for="address">Address:</label>
        <input id="address" type="text" name="" placeholder="Enter Address" required>
        
        <label for="mail">Email:</label>
        <input id="mail" type="email" name="" placeholder="email@example.com" required>
        
<!--
        <label for="ssn">SSN:</label>
        <input type="text" id="SSNArea" class="form-control input-group" maxlength="3" placeholder="XXX" required /><span class="color-gray padding-left-and-right-five-px">-</span>
        <input type="text" id="SSNGroup" class="form-control input-group" maxlength="2" placeholder="XX" required /><span class="color-gray padding-left-and-right-five-px">-</span>
        <input type="text" id="SSNSerial" class="form-control input-group" maxlength="4" placeholder="XXXX" required />
-->
        <br>
        <p></p>
        
        <label for="city">City:</label>
        <input id="city" type="text" name="" placeholder="city" required>
        
        <label for="st">State:</label>
        <input id="st" type="text" name="" placeholder="state" required>
        
        <label for="zip">Zip:</label>
        <input id="zip" type="text" name="" placeholder="zip" required>
        <br>
        <label for="home">Home Phone:</label>
        <input id="home" type="text" name="" required>
        
        <label for="cell">Mobile Number:</label>
        <input id="cell" type="text" name="">
        <br>
        <p></p>
        <label for="citizen">Are you entitled to work in the US?</label>
        <input id="citizen" type="radio" name="us" value="Yes">Yes
        <input id="citizen" type="radio" name="us" value="No">No
        <br>
        <label for="age">Are you 18yrs or older?</label>
        <input id="age" type="radio" name="legal" value="Yes">Yes
        <input id="age" type="radio" name="legal" value="No">No
        <br>
        <label for="bday">If yes, date of birth:</label>
        <input id="bday" type="textbox" name="" value="">
        <br>
        <label for="felony">Have you been convicted of a felony or been incarcerated in connection of a felony in the past seven years?</label>
        <input id="felony" type="radio" name="felon" value="Yes">Yes
        <input id="felony" type="radio" name="felon" value="No">No
        <br>
        <label>If yes, please explain</label>
        <input type="textbox" size="40">
        <br>
        <label for="vet">Are you a veteran?</label>
        <input id="vet" type="radio" name="vets" value="Yes">Yes
        <input id="vet" type="radio" name="vets" value="No">No
        <label for="branch">Branch</label>
        <input id="branch" type="text">
        <br>
        <label for="position">What position are you applying for?</label>
        <input id="position" type="text">
        <br>
        <label>How did you hear about this position?</label>
        <input id="refer" type="text">
        <br>
        <label>Expected salary rate?</label>
        <input id="salary" type="text">
        <label>Expected weekly earnings?</label>
        <input id="week" type="text">
        <br>
        <label>Date available?</label>
        <input id="avail" type="text">
        <br>
        <br>
        <br>
        <h2>Upload Resume</h2>
        <input type="file" id="myFile">
        <br>
        <br>
        <br>
        <h2>Prior Work Experience</h2>
        <small>Sections with an * asterix are required</small>
        <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 565px">
<colgroup>
<col style="width: 122px">
<col style="width: 139px">
<col style="width: 149px">
<col style="width: 155px">
</colgroup>
  <tr>
    <th class="tg-0lax"></th>
    <th class="tg-0pky">Most Recent </th>
    <th class="tg-0lax">Prior</th>
    <th class="tg-0lax">Prior</th>
  </tr>
  <tr>
    <td class="tg-0lax">Employer*</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Address</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">City,ST,Zip</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Telephone</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Name of <br>Immediate<br> Supervisor*<br></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Dates of <br>Employment*</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Job Title*</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Pay</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Reason for leaving*</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">May we contact*</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
</table>
    <br>   
    <h2>Education</h2>
    <br>
    <table class="tg" style="undefined;table-layout: fixed; width: 565px">
<colgroup>
<col style="width: 122px">
<col style="width: 139px">
<col style="width: 149px">
<col style="width: 155px">
</colgroup>
  <tr>
    <th class="tg-0lax"></th>
    <th class="tg-0pky">Name/Location</th>
    <th class="tg-0lax">Last Year Completed</th>
    <th class="tg-0lax">Degree</th>
    <th class="tg-0lax">Major</th>
  </tr>
  <tr>
    <td class="tg-0lax">High School </td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">College/University</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Trade School</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Other</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
</table>
    <br>
    <h2>References</h2>
    <small>Please list 3 references</small>
    <br>
    <table class="tg" style="undefined;table-layout: fixed; width: 565px">
<colgroup>
<col style="width: 122px">
<col style="width: 139px">
<col style="width: 149px">
<col style="width: 155px">
</colgroup>
  <tr>
    <th class="tg-0pky">Name</th>
    <th class="tg-0lax">Relationship</th>
    <th class="tg-0lax">Contact #</th>
  </tr>
  <tr>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
</table>
     <br>
    <h2>Availibilty</h2>
    <br>
    <small>Please specify the days and hours you are availiable</small>
    <br>
    <br>
    <label for="day">Any day, any hour?</label>
    <input id="" type="radio" name="day" value="Yes"> Yes
    <input id="" type="radio" name="day" value="No"> No
     <br>   
    <label for="holiday">Are you availiable to work holidays?</label>
    <input id="" type="radio" name="holiday" value="Yes"> Yes
    <input id="" type="radio" name="holiday" value="No"> No
     <br>   
    <label for="transpo">ADo you have dependable transportation to/from work?</label>
    <input id="" type="radio" name="transpo" value="Yes"> Yes
    <input id="" type="radio" name="transpo" value="No"> No
     <br>   
    <label for="travel">Are you willing to travel?</label>
    <input id="" type="radio" name="travel" value="Yes"> Yes
    <input id="" type="radio" name="travel" value="No"> No
     <br>
    <br>
    <table class="tg" style="undefined;table-layout: fixed; width: 565px">
<colgroup>
<col style="width: 122px">
<col style="width: 139px">
<col style="width: 149px">
<col style="width: 155px">
</colgroup>
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0lax">To:</th>
    <th class="tg-0lax">From</th>
  </tr>
  <tr>
    <td class="tg-0lax">Monday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Tuesday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Wednesday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
  <tr>
    <td class="tg-0lax">Thursday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
    <tr>
    <td class="tg-0lax">Friday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
    <tr>
    <td class="tg-0lax">Saturday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
    <tr>
    <td class="tg-0lax">Sunday</td>
    <td class="tg-0lax" contenteditable='true'></td>
    <td class="tg-0lax" contenteditable='true'></td>
  </tr>
</table>
    <br>
    <input type="checkbox" name="disclaimer">By signing, I hereby certify that the above information, to the best of my knowledge, is correct.  I understand that falsification of this information may prevent me from being hired or lead to my dissmissal if hired.  I also provide my consent for former employers to be contacted regarding work records.
     <br>
    <br>
    Signature:<input type="text">
    Date:<input type="date">
    <br>
    <br>
    <input type="submit" value="Submit">
    </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>